 @font-face{
	 font-family: 'stella.typeface'; 
	 src: url('fonts/stellanorm.otf');
 }
  @font-face{
	 font-family: 'stella.typeface';
	 font-weight: bold;
	 src: url('fonts/stellabold.otf');
 }
 /* Dark mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #000;
        color: white;
    }
.head {
        background-color: #292929;
        color: white !important;
    }
	.searchbar{
		background-color: #292929;
		border-width: 0px;
		color: white;
	}
		button{
		border-color: #292929;
		background-color: #292929;
		color: white;
	}
		.service-a{
		background-color: #292929;
		color: white;
		border-radius: 10px;
	}
	.reversable-image{
		filter: invert();
	}
	.a{
		color: white;
	}
	.gsc-tabsArea{
	background-color: #292929;
	}
	.header-se{
			background-color: #292929;
		color: white;
	}
	.gcse-searchresults-only{
		background-color: #292929;
	}
	.gsc-tabHeader.gsc-tabhInactive.gsc-inline-block{
		background-color: #292929;
	}
	.gsc-tabHeader.gsc-inline-block.gsc-tabhActive{
		background-color: #292929;
		color: white;
		border-bottom-color: white;
	}
	.gsc-above-wrapper-area{
		background-color: #0000;
	}
	.blockszone{
		background-color: #292929;
		color: white;
	}
	.gsc-wrapper{
		background-color: black;
		color: white;
	}
	.gsc-webResult.gsc-result{
				background-color: black;
		color: white;
		border: none;
	}
	.gsc-resultsbox-visible{
				background-color: black !important;
		color: white;
}
.gs-bidi-start-align.gs-snippet{
	color: white;
}
		.gs-title{
			color: #00c3ff !important;
		}
				.gs-title b{
			color: #00c3ff !important;
		}
		.gsc-webResult.gsc-result:hover{
							background-color: black !important;
		color: white;
		border: none !important;
		}
		.gsc-webResult.gsc-result.gsc-promotion{
										background-color: black !important;
		color: white;
		border: none !important;
		}
				.gsc-webResult.gsc-result.gsc-promotion:hov{
										background-color: black !important;
		color: white;
		border: none !important;
		}
				.gsc-results-wrapper-nooverlay.gsc-results-wrapper-visible{
			background-color: black;
		}
		.header-2{
			background-color: #292929;
		}
				.search-2{
			background-color: #000;
			color: white;
		}
		.gsc-control-cse.gsc-control-cse-en{
			background-color: black;
		}
		.gsc-control-cse{
			border: none;
		}
		.gsc-positioningWrapper{
			background-color: #292929;
		}
		.div-head{
			background-color: #292929
		}
				.toolbar{
			background-color: #292929
		}
}
 /* Light Mode */
@media (prefers-color-scheme: light) {
    body {
        background-color: #FFF;
        color: black;
    }
	    .head {
        background-color: #ededed;
        color: black !important;
    }
		.searchbar{
		background-color: #ededed;
		border-width: 0px;
		color: black;
	}
	button{
		border-color: #ededed;
		background-color: #ededed;
		color: black;
	}
	.service-a{
		background-color: #ededed;
		color: black;
		border-radius: 10px;
	}
		.reversable-image{
		filter: none;
	}
	.a{
		color: black;
	}
	.gsc-tabsArea{
	background-color: #ededed;
	}
	.header-se{
		background-color: rgba(0, 0, 0, 0.07); 
		color: black;
	}
		.gcse-searchresults-only{
background-color: #ededed;
		}
		.blockszone{
			background-color: #ededed;
			color: black;
		}
		.gsc-wrapper{
			background-color: white;
			color: black;
		}
				.gs-title{
			color: #000099 !important;
		}
				.gs-title b{
			color: #000099 !important;
		}
				.gsc-webResult.gsc-result:hover{
							background-color: white !important;
		color: black;
		border: none !important;
		}
				.gsc-webResult.gsc-result.gsc-promotion{
										background-color: white !important;
		color: black;
		border: none !important;
		}
				.gsc-webResult.gsc-result.gsc-promotion:hov{
										background-color: white !important;
		color: black;
		border: none !important;
		}
		.gsc-results-wrapper-nooverlay.gsc-results-wrapper-visible{
			background-color: white;
		}
				.header-2{
			background-color: #ededed;
		}
		.search-2{
			background-color: #fff;
			color: black;
		}
				.gsc-control-cse.gsc-control-cse-en{
			background-color: white;
		}
				.gsc-positioningWrapper{
			background-color: #ededed;
		}		
		.div-head{
			background-color: #ededed
		}
		.toolbar{
			background-color: rgba(0,0,0,0.07)
		}
}
 h1{
            font-family: 'stella.typeface', sans-serif;
            font-weight: 700;
        }
        .head{
			width: 100vw;
            margin: 0;
        }
        body{
            margin: 0;
        }
        .lan{
			margin: 0;
            font-family: 'stella.typeface', sans-serif;
            padding-left: 10%;
			padding-right: 10%;
        }
        .card{
            width: 350px;
            max-width: 90%;
            height: 150px;
            border-radius: 10px;
             box-shadow: 0px 3px 10px #888888;
			 margin-top: 5px;
        }
		.btn{
		border-radius: 10px;
		padding-bottom: 10px;
		padding-top: 10px;
		padding-left: 10px;
		padding-right: 10px;
		width: 100%;
		border-style: solid;
		font-family: 'stella.typeface', sans-serif;
		}
		.searchbar{
			width: 100%;
			padding: 10px;
			border-style: solid;
			border-radius: 10px;
			font-family: 'stella.typeface';
		}
		button{
			padding: 10px;
			border-style: solid;
			border-radius: 10px;
		}
		.header-se{
						width: 100vw;
            margin: 0;
		}