@font-face{
	 font-family: 'stella display';
	 src: url(font-face/stelladisplay-r.ttf);
}
p, h1, h2, h3 { padding: 0; margin: 0; display: inline-block }
p { font-size: 25px; }
body { background-color: #FF5050; margin: 0; padding: 0; font-family: 'stella display'; width: 100vw }
div[type=card] { color: black; background-color: white; width: 100%; border-radius: 20px; margin-top: 5px; padding-top: 30px; padding-bottom: 30px; }
div[type=card] h2, div[type=card] p { margin-left: 10px;}
.header { color: white; font-size: 40px; margin-bottom: 5px; }
.flex-header { display: flex; justify-content: space-between; margin-right: 7%; margin-left: 7%;}
div[type=content]{ border-top-left-radius: 20px; border-top-right-radius: 20px; margin-right: 6%; margin-left: 6%; margin: 0; overflow-Y: scroll;}
input { border-radius: 20px; -webkit-appearance: none; width: 90%; border: none; font-family: 'stella display'; font-size: 20px; height: 40px;}
