body {
    margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: "Inter", Sans-serif;
    opacity: 0.7;
}
.r-img {
    opacity: 0.7;
}
.content {
    margin-left: 10%;
    margin-right: 10%;
}
.a {
    color: black;
    text-decoration: none;
}
.hidden {
    display: none;
}
.country {
    margin: 30px;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 10px;
}
.country p {
    margin: 0px;
    padding: 0px;
}

.items {
    margin: 30px;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 10px;
}
.items p {
    margin: 0px;
    padding: 0px;
    line-height: 30px;
}
.id-box {
    margin: 30px;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 10px;
    line-height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8px;
}

@media (prefers-color-scheme: dark) {
    .id-box {
        margin: 30px;
        background-color: rgba(255, 255, 255, 0.1);
        padding: 10px;
        border-radius: 10px;
        line-height: 30px;
    }
    .items {
        margin: 30px;
        background-color: rgba(255, 255, 255, 0.1);
        padding: 10px;
        border-radius: 10px;
    }
    .country {
        background-color: rgba(255, 255, 255, 0.1);
    }
    body {
        background-color: black;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        color: white;
    }
    .r-img {
        opacity: 0.7;
        filter: invert();
    }
    .header {
        color: white;
    }
    .a {
        color: white;
        text-decoration: none;
    }
}
